/* Base body styling */
body {
  font-family: trebuchet ms, sans-serif;
  margin: 0;
  padding: 0;
    z-index:2;
}

/* Heading 1 styling */
h1 {
  font-size: 30px;
  position: relative;
    z-index: 2;
  margin-left: 20px;
}

/* Credits section styling */
.credits {
  font-size: 14px; 
    z-index:2;
  margin-left: 15px;
}

/* Popup section styling */
.popup {
  border: 4px solid #c9803a; 
  background-color: #F0F0F0;
  opacity: 1;
  background-position: 0 0,26px 26px;
  z-index:2;
}

/* Container styling */
.container {
  display: flex;
  align-items: flex-end;
    z-index:2;
}

/* Podium styling */
#podiumImage{
  margin-left: 15px;
}

.podium__item {
  justify-content: center;
  align-items: center;
  min-width: 200px;
  flex-direction: column; 
    z-index:2;
margin-left: 15px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__leaning {
  display: center;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.podium .first {
  background: rgb(255,172,37);
  background: 
    linear-gradient(333deg, 
    rgba(255,172,37,1) 0%, 
    rgba(254,207,51,1) 13%, 
    rgba(254,224,51,1) 53%, 
    rgba(255,172,37,1) 100%);
  height: calc(var(--first-step-height) * 4px);
}

.podium .second {
  background: rgb(211, 211, 211);
  background: linear-gradient(333deg, rgba(192, 192, 192) 0%, rgba(169, 169, 169) 13%, rgba(128, 128, 128) 53%, rgba(211, 211, 211) 100%);
  height: calc(var(--second-step-height) * 4px);
}

.podium .third {
  background: #b57b45;
  background: linear-gradient(333deg, rgba(190, 112, 35) 0%, rgba(175, 97, 20) 13%, rgba(220, 142, 65) 53%, rgba(205, 127, 50) 100%);
  height: calc(var(--third-step-height) * 4px);
  margin-right: 15px;
}

/* Expandable element styling */
.expandable {
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

/* Hidden elements styling */
.hide {
  display: none;
    z-index: 2;
}

/* Popup title styling */
#indexpopupTitle{
	font-size: 20px;
	font-family: trebuchet ms, sans-serif;
  margin-left: 12px;
}

/* Results button styling */
#results_button {
  background-color: #2b598d;
  color: white;
 font-family: trebuchet ms, sans-serif;
 z-index: 2;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin-left: 12px;
  margin-bottom: 5px;
}

/* Results button hover effect */
#results_button:hover {
  background-color: #000;
  color: #fff;
}

/* Questionnaire expansion styling */
#questionnaire_expand {
  background-color: #2b598d;
  color: white;
  position: relative;
  z-index: 2;
  font-family: trebuchet ms, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
	margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  }

#questionnaire_expand:hover {
  background-color: #000;
  color: #fff;
}

/* Questionnaire link styling */
#Questionario_Link {
  display: none;
  margin-bottom: 10px;
  font-family: trebuchet ms, sans-serif;
  position: relative;
  z-index: 2;
}

/* Questionnaire button styling */
#questionnaireButton {
  background-color: #c9803a;
  color: white;
  font-size: 20px; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  font-family: trebuchet ms, sans-serif;
  position: relative;
  z-index: 3;
  border-radius: 10px;
      transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;

}

#questionnaireButton:hover {
  background-color: orange;
  color: #fff;
  transform: scale(1.05);
  position: relative;
  z-index: 2;
}

/* Closing button styiling */
.close_admin_popup {
  padding: 5px 5px;
  background-color: #c00; 
  color: #fff; 
  text-decoration: none;
    border-radius: 5px; 
  margin-bottom: 20px;
  margin-left: 20px;
}

.close_admin_popup:hover {
  background-color: #000; 
}



/* Different backgrounds for each sections of our popup */
#section1 {
  position: relative;
  background-color: #F0F0F0; 
  z-index: 2;
}

#section1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%; 
  height: 200%; 
  background-color: rgba(237, 180, 74, 0.5); 
  border-top-left-radius: 100% 50%; 
  border-bottom-left-radius: 100% 50%; 
  z-index: 1;
}

#section2 {
  position: relative;
  background-color: #F0F0F0; 
  z-index: 2;
}

#section2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%; 
  height: 75%; 
  background-color: rgba(237, 180, 74, 0.5); 
  border-top-right-radius: 200% 100%; 
  border-bottom-right-radius: 200% 100%; 
  z-index: 1;
  transform: translateY(-75px); 
}

#section3 {
  position: relative;
  background-color: #F0F0F0; 
  z-index: 2;
  margin-left: 20px;
}

#section3::after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: 0;
  width: 40%; 
  height: 300%; 
  background-color: rgba(237, 180, 74, 0.5); 
  border-top-left-radius: 100% 50%; 
  border-bottom-left-radius: 100% 50%; 
  z-index: 1;
}

#surprise {
  position: relative;
  z-index: 2;
  margin-left: 15px;
}

#barchartContainer {
  position: relative;
  z-index: 2;
  margin-left: 10px;
}
