body {
  font-family: trebuchet ms, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px
}

.credits {
	font-size: 14px; 
}

.popup {
  padding:10px ;
  border: 10px solid #c9803a; 
	background-color: #f8f8f8;
opacity: 1;
background-image:  radial-gradient(#df9c11 1.3px, transparent 1.3px), radial-gradient(#df9c11 1.3px, #f8f8f8 1.3px);
background-size: 52px 52px;
background-position: 0 0,26px 26px;
}

.container {
  display: flex;
  align-items: flex-end;
}


.podium__item {
  justify-content: center;
  align-items: center;
  min-width: 200px;
  flex-direction: column; /* Questo fa sì che i figli di .podium__item si allineino verticalmente */

}


.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__leaning {
display: center;
font-weight: bold;
text-align: center;
  font-size: 20px;
}


.podium .first {
  background: rgb(255,172,37);
background: 
  linear-gradient(333deg, 
  rgba(255,172,37,1) 0%, 
  rgba(254,207,51,1) 13%, 
  rgba(254,224,51,1) 53%, 
  rgba(255,172,37,1) 100%);
height: calc(var(--primo-gradino-height) * 4px);

}

.podium .second {
  background: rgb(211, 211, 211);
  background: linear-gradient(333deg, rgba(192, 192, 192) 0%, rgba(169, 169, 169) 13%, rgba(128, 128, 128) 53%, rgba(211, 211, 211) 100%);
height: calc(var(--secondo-gradino-height) * 4px);

}

.podium .third {
  background: #b57b45;
  background: linear-gradient(333deg, rgba(190, 112, 35) 0%, rgba(175, 97, 20) 13%, rgba(220, 142, 65) 53%, rgba(205, 127, 50) 100%);
  height: calc(var(--terzo-gradino-height) * 4px);

}